/* === Global === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
}

a {
    color: var(--dark-grey);
}


/* === Utilidades/Variáveis === */
.container {
    width: 95%;
    max-width: 85em;
    margin: 0 auto;
}

:root {
    --black: #000000;
    --dark-grey: #4B4C4C;
}

/* === Navbar === */
.nav {
    padding: 1.563em 0;
    box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.1);
    margin-bottom: 15px;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 999;
    background: #ffffff;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav__logo {
    text-transform: uppercase;
    font-weight: 600;   
    font-size: 24px;
    color: var(--black);
}

#nav__check,
.nav__menu {
    display: none;
}

.nav__list {
    display: flex;
}

.nav__link {
    text-transform: uppercase;
    letter-spacing: 0.1ch;
    font-weight: 400;
    font-size: 15px;
}

.nav__link::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 0;
    height: 2px;
    transition: width .4s;
    background-color: #d62222;
}

.nav__link:hover::after {
    width: 100%;
}

.nav__link:hover {
    color: #d62222;
    transition: ease 0.2s;
}

.nav__login {
    font-weight: 200;
    font-size: 14px;
}

.nav__item {
    margin: 0 0 0 25px;
}

.nav__item--icon {
    margin: 0 0 0 15px;
}

/* === Home === */
.home__container {
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    overflow: hidden;
}

.img__home {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 0 20px;
}

.img__home--1 {
    background-image: url(../images/img-1.jpg);
    grid-column: 1/3;
    grid-row: 1/3;
}

.img__home--2 {
    background-image: url(../images/img-2.jpg);
}

.img__home--3 {
    background-image: url(../images/img-3.jpg);
}

.img__home--4 {
    background-image: url(../images/img-4.jpg);
}

.img__home--5 {
    background-image: url(../images/img-5.jpg);
}

.img__title {
    color: #ffffff;
    font-weight: 600;
    font-size: 24px;
}

.img__title--large {
    color: #ffffff;
    font-size: 32px;    
}

.img__text {
    color: #ffffff;
    margin-bottom: 10px;
}
.img__text--large {
    color: #ffffff;
    max-width: 40ch;
    margin-bottom: 10px;
}

.img__link {
    text-transform: uppercase;
    letter-spacing: 0.1ch;
    font-weight: 600;    
    display: inline-block;
    width: 100px;
}

.img__link::after {
    content: '';
    display: block;
    width: 80px;
    height: 2px;
    transition: width .4s;
    background-color: #d62222;    
}

/* === Responsive === */

/* === Navbar === */
@media(max-width: 1000px) {
    .nav__container {
        align-items: center;
        justify-content: space-between;
    }

    .nav__menu {
        display: block;
        width: 35px;
        height: 35px;
        position: relative;
        border: 1px solid var(--dark-grey);
    }

    .nav__menu:after {
        content: '';
        position: absolute;
        top: 30%;
        left: 15%;
        width: 70%;
        height: 5%;
        border-radius: 20px;
        background-color: black;
        transition: 0.5s ease;
    }

    .nav__menu:before {
        content: '';
        position: absolute;
        top: 60%;
        left: 40%;
        width: 45%;
        height: 5%;
        border-radius: 20px;
        background-color: black;
        transition: 0.5s ease;
    }

    #nav__check:checked ~ label .nav__menu:after {
        transform: rotate(225deg);
        top: 45%;
        left: 15%;
    }

    #nav__check:checked ~ label .nav__menu:before {
        transform: rotate(-225deg);
        width: 70%;
        top: 45%;
        left: 15%;
    }

    .nav__list {
        display: none;  
        flex: 100%;
    }

    #nav__check:checked ~ .nav__list {
        display: block;
    }

    .nav__item {
        margin: 0;
    }

    .nav__item--icon {
        display: inline-block;
        margin: 15px 20px 0 0;
    }
}

/* === Home === */
@media(max-width: 1000px) {
    .home__container {
        height: 250vh;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    } 
}

@media(max-width: 600px) {
    .home__container {
        grid-template-columns: repeat(1, 1fr);        
    }

    .img__home--1 {
        grid-column: 1/1;
        grid-row: 1/4;
    }    
}



